html {
  position: relative;
  min-height: 100%;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}

a {
font-style: bolder;
  color:#439b49;
  text-decoration:none;
}

a:hover{
  color:green ;
  text-decoration:none;
  text-decoration-line: none;
}

.services{
 color: #439b49;
}


.vertical-column{
display: inline !important;
width: 100%;
}

.img-card{
margin: 0px auto;
width: 100%;
height: 150px;

}
.subheading{
margin: 0px auto;
}

.info-btn{
color: #f7fbfb;
background-color: ;
content-align: center; 
margin: 0px auto;
}

.more-info{
color: #439b49;
margin-top: 20px !important;
background:url(.img/rice-with-sauce.jpg) !important;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}

.more-info p{
color: #f7fbfb;
background: url(img/assorted.png);
padding: 5px;

.new-column{
color: black;
background: green !important;
font-weight: bolder;
font-style: italic;
text-shadow: -1px 2px 2px green;
}


.about-ilabespot{
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap') !important;
font-family: 'Roboto', sans-serif;
background: url(img/ilabeSpot-logo.png) !important;
}


